.bannerContainer {
  width: 100%;
  height: 100%;
  border: 1px solid;
  background-color: rgb(50, 47, 45);

  & .banner {
    margin: 0 56px 0 56px;
    padding: 32px 0;
    background-color: rgb(37, 50, 55);
    text-align: center;
    color: #fff;

    & h1 {
      font-weight: bold;
      font-size: 40px;
    }
  }
}

.callToDocsContainer {
  margin: 0 56px 0 56px;
  background-color: rgb(234, 245, 240);

  & .callToDocs {
    background-color: rgb(239, 241, 240);
    max-width: 35%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
  }
}
