header {
  background-color: rgb(244, 81, 83);
}
.navigationContainer {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 400px);
  margin: 0 56px 0 56px;

  & img {
    max-width: 100px;
  }
}

.mainNavigation {
  display: flex;
  align-items: center;

  & ul {
    & li {
      display: inline-block;
      & a {
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 16px;
        &.fill {
          background-color: rgb(202, 36, 45);
        }
        &:hover {
          text-decoration: underline;
          opacity: 0.5;
        }
      }
    }
  }
}

.aboutNav {
  position: relative;

  .secondaryNav {
    width: 100%;
    display: none;
    position: absolute;
    right: 50%;

    & li a {
      width: 100%;
      background-color: rgb(244, 81, 83);
    }
  }

  &:hover {
    .secondaryNav {
      display: block;
    }
  }
}
